<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

use Cake\Utility\Text;

$cakeDescription = 'SecComms: Secure messaging system';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <?php if ($this->request->getSession()->read('Auth.User.username')) { ?>
                <li>Hello </b><?= h($this->Text->Truncate($this->request->getSession()->read('Auth.User.username'),20)) ?>!</li>
                <li><?= $this->Html->link(__('(Log Out!)'), ['controller' =>'users' ,'action' => 'logout']) ?></li>
            <?php } ?>
            <li class="name">
                <h1><a href="">SecComms</a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
               <li><?= $this->Html->link(__('DB DUMP'), ['controller' =>'pages' ,'action' => 'dbdump']) ?></li>
            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
</body>
</html>
